{% extends "index.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('chat_bot.static', filename='css/style.css')}}">
</head>

<div class="container-fluid begin">
    <div class="container-fluid header" style="background-color: rgb(235, 234, 234);">
        <h1 class="me-3 display-6 text-primary font-monospace fw-bold" dir="rtl">مساعد وعيني الذكي</h1>
       <p class="mt-3 me-3 h5 text-muted" dir="rtl">- انا موجود هنا علشان اجاوب عن كل أسألتك بخصوص الأتحادات الطلابية و القرار الوزاري 62</p>
    </div>
    <div class="chatbot">
        {% if response %}
        <div class="chat">
            <div class="question-block me-lg-5 me-md-4 me-sm-2 mt-5">
                <p class="px-3 py-3" dir="rtl">{{user_prompt}}</p>
            </div>
            <div class="answer-block mb-5 ms-lg-5 ms-md-4 ms-sm-2 mt-3">
                <p class="px-3 py-3" dir="rtl">{{response}}</p>
            </div>
        </div>
        {% else %}
        <div class="suggestions chat">
            <div class="row mt-3 me-0 ms-0" style="width: 100%;" dir="rtl">
                <div class="col-md-4 col-sm-12 mt-3" dir="rtl">
                    <div class="suggestion-btn mx-2">
                        <form action="" method="post">
                            <input type="hidden" name="prompt" value="يعني ايه اتحاد طلاب؟">
                            <button type="submit" class="suggestion-input">
                                <p>يعني ايه اتحاد طلاب؟</p>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3" dir="rtl"> 
                    <div class="suggestion-btn mx-2">
                        <form action="" method="post">
                            <input type="hidden" name="prompt" value="ايه هو الموضوع المحوري للأتحادات الطلابية السنة ديه؟">
                            <button type="submit" class="suggestion-input">
                                <p>ايه هو الموضوع المحوري للأتحادات الطلابية السنة ديه؟</p>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3" dir="rtl">
                    <div class="suggestion-btn mx-2">
                        <form action="" method="post">
                            <input type="hidden" name="prompt" value="ازاي انضم للأتحاد الطلابي او المكتب التنفيذي لمدرسة جمال عبد الناصر؟">
                            <button type="submit" class="suggestion-input">
                                <p>ازاي انضم للأتحاد الطلابي او المكتب التنفيذي لمدرسة جمال عبد الناصر؟</p>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="ask-form">
            <form class="form" action="" method="post">
                <input name="prompt" class="form-control" type="text" style="width: 100%;" placeholder="أسألني هنا" dir="rtl">
                <button class="btn btn-primary ms-3"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}