{% extends 'index.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('auth.static', filename='css/style.css')}}">
</head>

<div class="full-page-container" dir="rtl">
    <div class="profile-wrapper">
        
        <img src="{% if user.verified %}{{url_for('auth.static', filename='media/'+user.icon)}}{% else %}{{url_for('auth.static', filename='media/student.png')}}{% endif %}" alt="Student Profile" class="rounded-profile-img">

        <div class="text-center mb-4">
            <h1 class="display-4 fw-bold mb-0 text-primary">{{user.username}}</h1>
            <p class="text-muted fs-5" dir="ltr">@{{user.username}}</p>
        </div>

        <div class="data-grid">
            <div class="data-item">
                <span class="label">البريد الألكتروني</span>
                <div class="value" dir="ltr">{{user.email}}</div>
            </div>
            <div class="data-item">
                <span class="label">دور</span>
                <div class="value">{% if user.verified %}{{user.role}}{% else %}طالب{% endif %}</div>
            </div>
            <div class="data-item">
                <span class="label">مهارتك</span>
                <div class="value">{{user.skill}}</div>
            </div>
            <div class="data-item">
                <span class="label">صف دراسي</span>
                <div class="value">{{user.grade}}</div>
            </div>
        </div>

        {% if user.from_school %}
        <div class="school-status bg-primary-subtle text-primary border border-primary">
             من مدرسة جمال عبد الناصر
        </div>
        {% else %}
        <div class="school-status bg-warning-subtle text-warning border border-primary">
             من مدرسة جمال عبد الناصر
        </div>
        {% endif %}

        {% if user.verified %}
        <div class="school-status bg-primary-subtle text-primary border border-primary">
             موثق
        </div>
        {% else %}
        <div class="school-status bg-danger-subtle text-danger border border-primary">
             ليس موثق
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}